body {
    color: #082b48;
    font-family: Verdana, Geneva, tahoma, sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #082b48;
}

a:hover {
    opacity: 0.7;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.claer::after {
    content: "";
    clear: both;
    display: block;
}

.section-title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

/*=============
header
===============*/
header {
    padding: 20px;
}

.header-left {
    float: left;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.header-right {
    float: right;
}

.header-nav-item {
    float: left;
    margin-left: 50px;
}

.header-nav-item a {
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
}

/*=============
top
===============*/
.top {
    background-image: url(../img/main-vsual-nontitle.png);
    background-size: cover;
    padding: 60px 0;
}

.top-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.top-sub {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

/*=============
about
===============*/
.about {
    padding: 60px 0;
}

.about-left {
    float: left;
    width: 46%;
}

.about-right {
    float: right;
    width: 46%;
}

/*=============
course
===============*/
.course {
    background-color: #e3fcf4;
    padding: 60px 0;
}

.course-wrap {
    display: flex;
    justify-content: space-between;
}

.course-item {
    width: 30%;
}

.contact {
    padding: 60px 0;
}

.contact-message {
    text-align: center;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 600px;
    border: 3px solid #d8d8d8;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    display: inline-block;
    background-color: #082b48;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 14px;
    border: none;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn-register {
    background-color: #ec6d64;
    display: block;
    max-width: auto;
    margin: auto;
    padding: 20px 80px;
}

footer {
    background-color: #082b48;
    color: #fff;
    padding: 15px 0;
}

.copyright {
    font-size: 14px;
    float: right;
}